<div class="bodyContainer">
  <h1 class="mainHeading">Analysis Report</h1>
  <table class="table table-striped table-hover">
    <tbody>
      <tr>
        <th>Batch ID</th>
        <th>Facility</th>
        <th>MRN</th>
        <th>Encounter</th>
        <th>Scanned Date</th>
        <th>Scanned User</th>
        <th>Indexed Date</th>
        <th>Indexed User</th>
        <th>Analysis</th>
      </tr>

      <tr
        *ngFor="let row of data"
        [style.background-color]="row.submit_Action === 'D' ? '#FFD580' : ''"
      >
        <td>{{ row.batch_no }}</td>
        <td>{{ row.facility }}</td>
        <td>{{ row.mrn }}</td>
        <td>{{ row.encounter }}</td>
        <td>{{ row.scanned_date }}</td>
        <td>{{ row.scanned_user }}</td>
        <td>{{ row.indexed_date }}</td>
        <td>{{ row.indexed_user }}</td>
        <td (click)="navigateToAnalysisPage(row)">
          <span class="goto">Analysis</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
