<div class="analysis">
  <div class="header">
    <div class="left-section">
      Batch ID: {{ data.batch_no }}, Scanned By: {{ data.scanned_user }},
      Scanned Dt: {{ data.scanned_date }}, Indexed By: {{ data.indexed_user }},
      Indexed Dt: {{ data.indexed_date }}
    </div>
    <div class="mid-section" (click)="docFilter()">Doc Type: consent</div>
    <div class="right-section">
      <div class="dropdown" #dropdown>
        <select (change)="onDropdownChange($event)">
          <option style="text-align: center" value="docType">
            Doc Type View
          </option>
          <option style="text-align: center" value="encounter">
            Encounter View
          </option>
        </select>
      </div>
    </div>
  </div>
  <app-table></app-table>
</div>
