.reports {
  padding: 1%;
  width: auto;
  box-sizing: border-box;
}

.show-all-btn {
  justify-self: center;
  align-self: start;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 1.5rem;
}
