img {
  width: 200px;
  height: 60px;
  object-fit: cover;
  object-position: top;
  border: 1px solid #ccc;
}

input {
  width: 16px;
  height: 16px;
  outline: 1px solid #ccc;
}

.bottom-toolbar {
  margin: 10px;
  display: flex;
  justify-content: center;
}

.bottom-toolbar div {
  padding: 4px 14px;
  border: 1px solid black;
  cursor: pointer;
}

.bodyContainerAnalysisTable {
  padding: 30px;
  width: 97%;
  min-height: 100%;
  border: 1px solid #ccc;
}

.analysisBtmBorder {
  border-bottom: 1px solid #ddd;
}

.anlaysisBorder {
  border: 1px solid #ddd;
  width: 100%;
  height: 100%;
}

.popup-overlay-su {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  display: grid;
  place-items: center;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
}

.popup-overlay.show {
  display: grid;
  place-items: center;
  position: absolute;
}

.img-container {
  width: 100%;
  height: 100%;
  float: left;
  margin-top: 1.5rem;
}

.image {
  width: 20%;
  height: 10%;
}

.uploaded {
  background-color: lime;
}

.draw-popup-su {
  display: none;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
}

.draw-popup-su.active {
  display: grid;
  place-items: center;
}

.fields-loader {
  width: 100%;
  font-weight: bold;
  font-size: 2.5rem;
}

.form-fields-loader {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.loading-dots {
  display: flex;
  align-items: center;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: #333;
  border-radius: 50%;
  margin: 0 5px;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0%,
  70%,
  100% {
    transform: scale(0.8);
    opacity: 0.5;
  }
  35% {
    transform: scale(1);
    background-color: royalblue;
    opacity: 1;
  }
}

.loading-text {
  margin-top: 10px;
  font-size: 16px;
  color: #666;
}
