.reports-form {
  width: 100%;
  height: 100%;
}

.bodyContainerReportsTable {
  padding: 0;
  width: auto;
}

.report-bg {
  background-color: #e0f3f4;
}

.header {
  padding: 10px 30px;
  width: 100vw;
}

.accordion {
  color: #1477bd;
  cursor: pointer;
}

.hide {
  display: none;
}

.accordion-up {
  content: "▲";
}
