<app-spinner></app-spinner>
<div class="header">
  <div>
    <div class="image">
      <img src="../assets/images/Logo.png" alt="Logo" />
    </div>
    <div class="vertical-line line-bold"></div>
    <div class="Logo-text">Doc Analysis</div>
  </div>
  <div>
    <button class="link">logout</button>
  </div>
</div>

<div class="nav-bar">
  <div class="nav-links">
    <div class="nav-link">Home</div>
    <div class="nav-link">Scanning</div>
    <div class="nav-link">Indexing</div>
    <div class="nav-link"><a routerLink="/analysis">Analysis</a></div>
    <div class="nav-link"><a routerLink="/reports-form">Reports</a></div>
    <div class="nav-link"><a routerLink="/admin">Admin</a></div>
  </div>
</div>

<router-outlet></router-outlet>
