a {
  color: white;
  text-decoration: none;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.header div {
  display: flex;
  align-items: center;
  gap: 6px;
}

.header .Logo-text {
  font-size: 1.5rem;
}

.vertical-line {
  background-color: rgb(245, 245, 245);
}

.line-bold {
  width: 5px;
  height: 30px;
}

.line-thin {
  background-color: rgb(236, 236, 236);
  width: 2px;
  height: 20px;
}

.header .link,
.header .link a {
  color: rgb(54, 158, 255);
  outline: none;
  border: none;
  background-color: transparent;
}

.header .link:focus {
  border: 1px solid black;
}

.nav-bar {
  width: 100%;
  background-color: rgb(0, 132, 255);
  color: white;
  padding: 5px 20px;
}

.nav-links {
  display: flex;
  gap: 1%;
}

.nav-link {
  cursor: pointer;
}

.nav-head {
  padding: 10px;
  display: flex;
  justify-content: center;
}

.nav {
  border: 2px solid black;
}

.navbar .list {
  display: flex;
  border: 1px solid black;
}

.item {
  padding: 5px 10px;
  cursor: pointer;
}

.form-header {
  text-align: center;
  border: 1px solid black;
  padding: 4px;
  background-color: rgb(200, 158, 255);
  margin-bottom: 10px;
}

.form-main {
  margin-top: 10px;
}

.form-main .flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.center {
  display: grid;
  place-items: center;
}

.dropdown {
  margin-bottom: 2%;
}
