a {
  color: white;
  text-decoration: none;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}
.header .logoimage {
  width: 240px;
  padding: 10px 0;
}
.header div {
  display: flex;
  align-items: center;
  gap: 6px;
}

.header .Logo-text {
  font-size: 1.5rem;
}

.vertical-line {
  background-color: rgb(245, 245, 245);
}

.line-bold {
  width: 5px;
  height: 30px;
}

.line-thin {
  background-color: rgb(236, 236, 236);
  width: 2px;
  height: 20px;
}

.header .link,
.header .link a {
  color: rgb(54, 158, 255);
  outline: none;
  border: none;
  background-color: transparent;
}

.header .link:focus {
  border: 1px solid black;
}

.content {
  min-height: calc(100vh - 117px);
}

footer {
  padding: 20px 0;
  color: #444444;
  font-size: 14px;
  text-align: center;
  background: #bcbcbc;
  box-shadow: 0px 2px 15px rgba(25, 119, 204, 0.1);
}

.nav-bar {
  width: 100%;
  background-color: #1477bd;
  color: white;
  padding: 5px 30px 7px 30px;
  height: 35px;
}

.nav-links {
  display: flex;
  gap: 5%;
}

.nav-link {
  cursor: pointer;
  font-size: 16px;
}

.selected {
  font-weight: bold;
  border-bottom: 4px solid #d9ecf9;
  position: relative;
  bottom: -1px;
}
.nav-link:hover {
  color: d9ecf9;
  font-weight: bold;
  border-bottom: 4px solid #d9ecf9;
  position: relative;
  bottom: -1px;
}

.nav-head {
  padding: 10px;
  display: flex;
  justify-content: center;
}

.nav {
  border: 2px solid black;
}

.navbar .list {
  display: flex;
  border: 1px solid black;
}

.item {
  padding: 5px 10px;
  cursor: pointer;
}

.form-main {
  margin-top: 10px;
}

.form-main .flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.center {
  display: grid;
  place-items: center;
}

.dropdown {
  margin-bottom: 2%;
}

.loader {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 999999;
  background-color: rgba(0, 0, 0, 0.3);
  display: grid;
  place-items: center;
}

.spinner {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
