<div class="header">
  <div class="logoimage">
    <img
      src="assets/images/docAnalysis.png"
      style="width: 180px; height: auto"
      alt="Doc Analysis Logo - From DataSpotEye"
    />
  </div>
  <div>
    <button class="btn btn-primary">logout</button>
  </div>
</div>
<div class="content">
  <div class="nav-bar">
    <div class="nav-links">
      <div class="nav-link" (click)="highlightNavLink($event)">
        <a routerLink="/analysis">Analysis</a>
      </div>
      <div class="nav-link" (click)="highlightNavLink($event)">
        <a routerLink="/reports-form">Reports</a>
      </div>
      <div class="nav-link" (click)="highlightNavLink($event)">
        <a routerLink="/admin">Admin</a>
      </div>
    </div>
  </div>

  <router-outlet>
    <!-- <div class="loader" *ngIf="loaderService.loader$ | async">
      <div data-title="dot-typing">
        <div class="stage">
          <div class="dot-typing"></div>
          <div class="loading-text">
            Please wait we are proccessing your request.
          </div>
        </div>
      </div>
    </div> -->
    <app-spinner></app-spinner>
  </router-outlet>
</div>

<!-- Footer Start-->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">©2023 DocAnalysis</div>
    </div>
  </div>
</footer>
<!--Footer End-->
