.upload {
    display: grid;
    place-items: center;
}

.form-header {
    text-align: center;
    border: 1px solid black;
    padding: 4px;
    background-color: rgb(200, 158, 255);
    margin-bottom: 10px;
}

.form-main {
    margin-top: 10px;
}

.form-main .flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.center {
    display: grid;
    place-items: center;
}

.dropdown {
    margin-bottom: 2%;
}

.text-center {
    text-align: center;
}