.form-main {
  padding-top: 10px;
}

.form-main .flex {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}

.center {
  display: grid;
  place-items: center;
}

.dropdown {
  margin-bottom: 1%;
  padding-inline: 1%;
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

#link {
  color: white;
}
