<div class="form-fields">
  <div class="container">
    <div id="header" class="fields-grid">
      <div class="col">Reivew field#</div>
      <div class="col">Mandatory field#</div>
      <div class="col">Fields#</div>
      <div class="col">Pages#</div>
      <div class="col">Review & Display Region</div>
    </div>
    <div class="all-rows">
      <div *ngFor="let row of data$ | async" class="rows fields-grid">
        <div class="col-checkbox">
          <input
            type="checkbox"
            name="{{ row.field_no }}"
            id="{{ row.field_no }}"
            [(ngModel)]="row.isSelectedReview"
          />
        </div>
        <div class="col-checkbox">
          <input
            type="checkbox"
            name="{{ row.field_no }}"
            id="{{ row.field_no }}"
            [(ngModel)]="row.isSelectedMandatory"
          />
        </div>
        <div class="col">{{ row.field_no }}</div>
        <div class="col">{{ row.page_no }}</div>
        <div class="col">
          <div class="image">
            <img src="{{ row.filed_value }}" alt="snippet" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-toolbar">
    <div class="add" (click)="addField()">Add Field</div>
    <div class="delete">Delete Field</div>
    <div class="save">Save & Exit</div>
    <div class="cancel">Cancel</div>
  </div>
</div>
