<div class="bodyContainerAnalysisTable">
  <table class="table table-striped table-hover">
    <tbody>
      <tr>
        <td>Reivew field#</td>
        <td>Mandatory field#</td>
        <td>Fields#</td>
        <td>Pages#</td>
        <td>Review & Display Region</td>
      </tr>
      <tr *ngFor="let row of data$ | async">
        <td>
          <input
            type="checkbox"
            name="{{ row.field_no }}"
            id="{{ row.field_no }}"
            [(ngModel)]="row.reviewed"
          />
        </td>
        <td>
          <input
            type="checkbox"
            name="{{ row.field_no }}"
            id="{{ row.field_no }}"
            [(ngModel)]="row.mandatory"
          />
        </td>
        <td>{{ row.field_no }}</td>
        <td>{{ row.page_no }}</td>
        <td>
          <div class="image">
            <img src="{{ row.filed_value }}" alt="snippet" />
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div>
    <div class="bottom-toolbar">
      <div class="add btn btn-primary" (click)="addField($event)">
        Add Field
      </div>
      <div
        class="delete btn btn-secondary"
        (click)="highlightBottomNavBtns($event)"
      >
        Delete Field
      </div>
      <div
        class="save btn btn-secondary"
        (click)="highlightBottomNavBtns($event)"
      >
        Save & Exit
      </div>
      <div
        class="cancel btn btn-secondary"
        (click)="highlightBottomNavBtns($event)"
      >
        Cancel
      </div>
    </div>
  </div>
</div>
