<div class="bodyContainerAnalysisTable">
  <!-- Crop image popup Start -->
  <div class="popup-overlay" *ngIf="isCropping">
    <div class="buttons">
      <button (click)="drawRect()" class="btn btn-primary button-margin">
        Draw
      </button>
      <button
        (click)="reset()"
        data-toggle="tooltip"
        data-placement="top"
        title="Reset"
        *ngIf="isCropImage"
        class="btn btn-danger button-margin"
      >
        <i class="fa fa-undo" aria-hidden="true"></i>X
      </button>
    </div>
    <div class="img-container" [hidden]="!isCropImage">
      <img #image src="" id="cropper-img" crossorigin />
    </div>
  </div>
  <!-- Crop image popup End -->
  <!-- Draw rect on image popup Start -->
  <div class="draw-popup">
    <div class="buttons">
      <button (click)="uploadEdited()" class="btn btn-primary button-margin">
        Upload
      </button>
      <button
        (click)="resetDraw()"
        data-toggle="tooltip"
        data-placement="top"
        title="Reset"
        class="btn btn-danger button-margin"
      >
        <i class="fa fa-undo" aria-hidden="true"></i>X
      </button>
    </div>
    <canvas #layout></canvas>
  </div>
  <!-- Draw rect on image popup End -->
  <table class="table table-striped table-hover">
    <tbody>
      <tr>
        <td>Reivew field#</td>
        <td>Mandatory field#</td>
        <td>Fields#</td>
        <td>Pages#</td>
        <td>Review & Display Region</td>
        <td>Crop Image</td>
      </tr>
      <tr *ngFor="let row of data$ | async">
        <td>
          <input
            type="checkbox"
            name="{{ row.field_no }}"
            id="{{ row.field_no }}"
            [(ngModel)]="row.reviewed"
          />
        </td>
        <td>
          <input
            type="checkbox"
            name="{{ row.field_no }}"
            id="{{ row.field_no }}"
            [(ngModel)]="row.mandatory"
          />
        </td>
        <td>{{ row.field_no }}</td>
        <td>{{ row.page_no }}</td>
        <td>
          <div class="image">
            <img src="{{ row.filed_value }}" alt="snippet" />
          </div>
        </td>
        <td>
          <div class="image">
            <div
              (click)="crop($event)"
              class="btn btn-warning button-margin"
              data-toggle="tooltip"
              data-placement="top"
              title="Crop"
            >
              CROP
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div>
    <div class="bottom-toolbar">
      <div class="add btn btn-primary" (click)="addField($event)">
        Add Field
      </div>
      <div
        class="delete btn btn-secondary"
        (click)="highlightBottomNavBtns($event)"
      >
        Delete Field
      </div>
      <div
        class="save btn btn-secondary"
        (click)="highlightBottomNavBtns($event)"
      >
        Save & Exit
      </div>
      <div
        class="cancel btn btn-secondary"
        (click)="highlightBottomNavBtns($event)"
      >
        Cancel
      </div>
    </div>
  </div>
</div>
