<div class="form-fields">
  <div class="popup-overlay">
    <!-- Note popup start -->
    <div class="card note">
      <div class="flex-sb">
        <h1 class="mainHeading">Notes</h1>
        <div class="x btn btn-danger" (click)="closeNote()">X</div>
      </div>
      <div class="text-content">
        <textarea type="text" [(ngModel)]="note" rows="5"></textarea>
      </div>
      <div class="buttons">
        <button class="submit-btn btn btn-primary" (click)="submitNote()">
          Submit Note
        </button>
        <button class="close-btn btn btn-danger" (click)="closeNote()">
          CLOSE
        </button>
      </div>
    </div>
    <!-- Note popup end -->
    <!-- Document popup start -->
    <div class="card doc">
      <div class="flex-sb">
        <h1 class="mainHeading">Document</h1>
        <div class="x btn btn-danger" (click)="closeDoc()">X</div>
      </div>
      <div class="document">
        <ngx-extended-pdf-viewer
          [base64Src]="base64String"
          [useBrowserLocale]="true"
          [scrollMode]="3"
          [(page)]="currPageNo"
          class="pdf-container"
        ></ngx-extended-pdf-viewer>
      </div>
    </div>
    <!-- Document popup end -->
  </div>
  <!---ANALYSIS BATCH ID TABLE-->
  <div class="bodyContainerAnalysisTable">
    <div class="d-flex justify-content-end">
      <div>
        <button class="btn btn-primary mx-1">Submit</button>
        <button class="btn btn-secondary mx-1">Save as draft</button>
      </div>
    </div>
    <div class="anlaysisBorder my-2">
      <div id="header" class="fields-grid">
        <div class="col">Fields</div>
        <div class="col">Doc View</div>
        <div class="col">Note</div>
        <div class="col">Field#</div>
        <div class="col">Actions</div>
        <div class="col">Page#</div>
        <div class="col">Doc Type</div>
        <div class="col">Encounter</div>
        <div class="col">Facility</div>
      </div>
      <div
        *ngFor="let row of tableData"
        class="rows fields-grid analysisBtmBorder"
      >
        <div class="col image-{{ row.color_code }}">
          <div class="image">
            <img src="{{ row.field_value }}" alt="snippet" />
          </div>
        </div>
        <div class="col icon" (click)="openDoc(row)">
          <img
            src="assets/images/pdf.svg"
            alt="pdfSVG"
            class="icon"
            width="20px"
          />
        </div>
        <div class="col icon" (click)="openNote(row)">
          <img
            src="assets/images/notes.svg"
            alt="notesSVG"
            class="icon"
            width="20px"
          />
          <div class="{{ row.note ? 'btn-badge' : 'btn-badge-hide' }}">!</div>
        </div>
        <div class="col box">{{ row.field_no }}</div>
        <div class="col action">
          <div class="actions">
            <div
              class="review review-active  {{
                row.isDisabled ? 'disabled' : ''
              }}"
            >
              <label for="review-checkbox {{ row.field_no + row.page_no }}"
                >Review</label
              >
              <input
                type="checkbox"
                name="review-checkbox"
                id="review-checkbox {{ row.field_no + row.page_no }}"
                (change)="actions($event, row)"
                [(ngModel)]="row.isMandatory"
                [disabled]="row.isDisabled"
              />
            </div>
            <div class="ignore {{ row.isDisabled ? 'disabled' : '' }}">
              <label for="ignore-checkbox {{ row.field_no + row.page_no }}"
                >Ignore</label
              >
              <input
                type="checkbox"
                name="ignore-checkbox"
                id="ignore-checkbox {{ row.field_no + row.page_no }}"
                (change)="actions($event, row)"
                [(ngModel)]="row.isMandatory"
                [disabled]="row.isDisabled"
              />
            </div>
          </div>
        </div>
        <div class="col box">{{ row.page_no }}</div>
        <div class="col box">{{ row.doc_type }}</div>
        <div class="col box">{{ row.batch_no }}</div>
        <div class="col box">{{ row.facility }}</div>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <div>
        <button class="btn btn-primary mx-1">Submit</button>
        <button class="btn btn-secondary mx-1">Save as draft</button>
      </div>
    </div>
  </div>
</div>
