#header {
  background-image: -webkit-linear-gradient(top, #f9f9f9, #eaeaea);
  padding: 10px 5px;
  text-align: center;
  border: 1px solid #ddd;
}

.fields-grid {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr 2fr 1fr 2fr 2fr 1fr;
  column-gap: 10px;
  place-items: center;
}

.image img {
  height: 100%;
  max-width: 16vw;
  max-height: 20vh;
  min-width: 8vw;
  min-height: 10vh;
  border: 2px solid black;
}

.col.image-R {
  border: 3px solid red;
}

.col.image-G {
  border: 3px solid green;
}

.col {
  text-align: center;
}

.rows {
  margin-top: 10px;
  padding: 10px;
}

.icon {
  width: 30px;
  height: 30px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  position: relative;
  border: none;
}

.col.icon {
  cursor: pointer;
}

.action {
  display: grid;
  place-items: center;
  background-color: transparent;
  border: none;
}

.actions {
  display: flex;
  border: none;
  background-color: transparent;
}

.review,
.ignore {
  padding: 6px 10px;
  border: 1px solid #ddd;
  cursor: pointer;
  border-radius: 3px;
}

.review {
  background-color: #0d6efd;
}

.ignore {
  background-color: rgb(231, 231, 231);
}

input[type="checkbox"] {
  display: none;
}

.review-active {
  color: white;
  background-color: green;
}

.ignore-active {
  background-color: rgb(155, 155, 155);
}

.popup-overlay {
  height: 100vh;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 10;
}

.popup-overlay.show {
  display: grid;
  place-items: center;
  position: fixed;
}

.popup-overlay .text-content {
  width: 100%;
  padding: 2%;
  background-color: white;
  color: black !important;
  font-weight: bold;
}

.submit-btn {
  color: white;
  border-radius: 5%;
}

.close-btn {
  color: white;
  border-radius: 10%;
}

.card {
  width: 70%;
  height: 70%;
}

.note,
.doc {
  display: none;
}

.document {
  width: 70vw;
  height: 80vh;
  border: 2px solid black;
}

.disabled {
  cursor: auto;
  color: rgb(236, 236, 236);
}

.btn-badge {
  background-color: #fa3e3e;
  border-radius: 2px;
  color: white;

  padding: 1px 3px;
  font-size: 10px;

  position: absolute; /* Position the badge within the relatively positioned button */
  top: 0;
  right: 0;
}

.btn-badge-hide {
  display: none;
}

.bodyContainerAnalysisTable {
  padding: 0;
  width: auto;
}

.analysisBtmBorder {
  border-bottom: 1px solid #ddd;
}

.anlaysisBorder {
  border: 1px solid #ddd;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.flex-sb {
  display: flex;
  justify-content: space-between;
}

.x {
  height: 36px;
}
